<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jiance.Properties.Settings.sudaitswellConnectionString"
            connectionString="Data Source=192.168.0.188;Initial Catalog=sudaitswell;Persist Security Info=True;User ID=sudaitswell;Password=ok"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>